@media (max-width:768px) {
  #NavPC {
    display: none;
  }
}

@media (min-width:769px) {
  #NavMobile {
    display: none;
  }
}

@media (max-width:767px) {
  #ProjectBball {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    color: white;
    font-family: MARSNEVENEKSK;
    width: 344px;
    font-size: 75px;
    transition: ease-in;
    transition-duration: 1200ms;
    transition-delay: 250ms;
  }
}

@media (min-width:768px) {
  #ProjectBball {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: MARSNEVENEKSK;
    width: 1200px;
    font-size: 199px;
  }
}

.fa.fa-map-marker.footer-contacts-icon:hover {
  background-color: black;
  color: white;
  transition: ease-in;
  transition-duration: 0.4s;
  cursor: pointer;
}

.fa.fa-envelope.footer-contacts-icon:hover {
  background-color: black;
  color: rgb(255,151,245);
  transition: ease-in;
  transition-duration: 0.4s;
  cursor: pointer;
}

#pcnavitem {
  font-family: 'Avenir LT Std';
  color: #ffffff;
  background-color: black;
  border: none;
}

#pcnavitem:hover {
  font-family: 'Avenir LT Std';
  color: rgb(255,151,245);
  background-color: rgb(0,0,0);
  border-radius: 0px;
  transition: ease-in;
  transition-duration: 0.6s;
}

@media (min-width:768px) {
  #MainCover {
    height: 846px;
    background-image: url(../../assets/img/cover.png);
    background-position: center;
    background-size: cover;
  }
}

@media (max-width:767px) {
  #MainCover {
    height: 700px;
    background-image: url(../../assets/img/cover.png);
    background-position: center;
    background-size: cover;
  }
}

a {
  transform: translate (-50%, -50%);
}

@media (min-width:768px) {
  #title {
    font-family: 'True Lies';
    color: rgb(255,151,245);
    margin-top: 50px;
    font-size: 150px;
  }
}

@media (max-width:767px) {
  #title {
    font-family: 'True Lies';
    color: rgb(255,151,245);
    margin-top: 50px;
    font-size: 65px;
    animation-delay: 250ms;
    transition: ease-in;
    transition-duration: 1250ms;
    transition-delay: 2750ms;
  }
}

@media (min-width:768px) {
  #p1 {
    color: rgb(255,255,255);
    font-family: 'HelveticaNowDisplay Hairline';
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
  }
}

@media (max-width:767px) {
  #p1 {
    color: rgb(255,255,255);
    font-family: 'HelveticaNowDisplay Hairline';
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    transition: ease-in;
    transition-duration: 1250ms;
    transition-delay: 3250ms;
  }
}

@media (min-width:767px) {
  #p2 {
    color: rgb(255,255,255);
    font-family: 'HelveticaNowDisplay Hairline';
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
  }
}

@media (max-width:767px) {
  #p2 {
    color: rgb(255,255,255);
    font-family: 'HelveticaNowDisplay Hairline';
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    transition: ease-in;
    transition-duration: 1250ms;
    transition-delay: 4000ms;
  }
}

@media (min-width:768px) {
  #vid {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width:767px) {
  #vid {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in;
    transition-duration: 1250ms;
    transition-delay: 5000ms;
  }
}

@media (min-width:768px) {
  #register {
    font-family: 'True Lies';
    color: rgb(255,255,255);
    font-size: 72px;
    background-color: rgb(255,151,245);
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 1rem;
    padding-bottom: 0px;
    padding-top: 13px;
    margin-bottom: 72px;
  }
}

@media (min-width:768px) {
  #register:hover {
    color: rgb(255,151,245);
    background-color: black;
    text-decoration: none;
    transition: ease-in;
    transition-duration: 0.2s;
  }
}

@media (max-width:767px) {
  #register {
    font-family: 'True Lies';
    color: rgb(255,255,255);
    font-size: 38px;
    background-color: rgb(255,151,245);
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 1rem;
    padding-bottom: 0px;
    padding-top: 6px;
    margin-bottom: 72px;
    transition: ease-in;
    transition-duration: 1250ms;
    transition-delay: 4500ms;
  }
}

@media (max-width:768px) {
  #register:hover {
    color: rgb(255,151,245);
    background-color: black;
    text-decoration: none;
    transition: ease-in;
    transition-duration: 0.2s;
  }
}

