@font-face {
	font-family: 'inner city';
	src: url(../../assets/fonts/innercity.woff2) format('woff2'),
	url(../../assets/fonts/innercity.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}