@font-face {
	font-family: 'MARSNEVENEKSK Clean';
	src: url(../../assets/fonts/MARSNEVENEKSK-Clean.woff2) format('woff2'),
	url(../../assets/fonts/MARSNEVENEKSK-Clean.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}