@font-face {
	font-family: 'Urban Jungle';
	src: url(../../assets/fonts/UrbanJungleDEMO.woff2) format('woff2'),
	url(../../assets/fonts/UrbanJungleDEMO.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}